.topheader{
	background: url(../images/top_wrap_flow.png);
    height: 45px;
}
.contain-to-grid{
	background: none;
}

header{
	.logo{
		text-align: center;
		a{
			color: #222;
			text-transform: capitalize;
			font-family: 'Flamenco','Georgia','serif',arial;
		}
	}
	.top-bar{
		background: none;
		height:auto;
		.top-bar-section{
			ul{
				display: block;
				text-align: center;
				padding:10px 0;
				li{
					background: none;
					float: none;
					display: inline-block;
					a{
						background: none!important;
						color: rgba(28,28,28,.7);
						font-family: 'Flamenco','Georgia','serif',arial; 
						font-size: 30px;
						line-height: 35px;
						&:hover{
							color: #000;
						}
					}
					&.current-menu-item{
						a{
							color:#000;
						}
						
					}

				}
			}			
		}
	}
}
.aligncenter{
	margin:auto;
}