body{
	background-color:#f5f4ed!important;
	font-family:'Calibri', 'Parisienne',arial;
	font-size: 18px;
	line-height: 20px;
	p,a,h1,h2,h3,h4,h5{
		font-family: 'Calibri','Parisienne',arial;
	}
}
table{
	border:none;
	background:none;
	tr{
		background:none!important;
		td{
			vertical-align:top;
		}
	}
}