body{
	background-color:#f5f4ed!important;
	font-family:'Flamenco',arial;
	//font-family:'Georgia','serif','Flamenco',arial;
	font-size: 18px;
	line-height: 20px;
	p,a,h1,h2,h3,h4,h5{
		font-family: 'Flamenco',arial;
		//font-family:'Georgia','serif','Flamenco',arial;
	}
}
table{
	border:none;
	background:none;
	tr{
		background:none!important;
		td{
			vertical-align:top;
		}
	}
}